alabaster==0.7.13
blockdiag==3.0.0
myst-parser
pydata-sphinx-theme
pylint
sphinx
sphinx-copybutton
sphinx-git
sphinx-prompt
sphinxcontrib-applehelp
sphinxcontrib-blockdiag
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-mermaid